{% extends "base.html" %}

<style>
  div.author {
    margin: auto;
  }
</style>

{% block content %}

  <div class='login author col-12 col-sm-10 col-md-10 col-lg-8 col-xl-6'>

  <h1>Login</h1>
    
  {% if form.errors %}
    <p>Ничё не получается =(</p>
  {% endif %}

  <!--{% if next %}
    {% if user.is_authenticated %}
      <p>Вашей учётной записи не существует, идите нахуй)</p>
    {% else %}
      <p>Авторизация</p>
    {% endif %}
    
  {% endif %}-->

  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Войти</button>
  </form>
  </div>

{% endblock %}