{% extends "base.html" %} {% block content %}
<style>
    .No_article_h1 {
        font-weight: 900;
        font-size: 4em;
        color: rgba(0, 255, 234, 0.733);
        text-align: center;
    }
    
    .rub_name {
        font-size: 1.7em;
        color: #ddd;
        margin-left: 3%;
    }
    
    .a_Article {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .Article {
        padding: 0 !important;
        margin-left: 10px;
        margin-bottom: 10px;
        background: rgb(15, 15, 15);
        box-shadow: 0 2px 3px 5px #090909;
    }
    
    .Article_content {
        padding-left: 5px;
    }
    
    .article_img {
        padding: 0;
        margin: 0;
    }
    
    .article_title a {
        color: #dfdfdf;
        font-size: 1.5em;
        font-weight: 600;
    }
    
    .article_pub_date {
        color: #777;
    }
    
    .likes_in_list {
        margin-left: 15px;
        color: #fdfdfd;
    }
    
    .likes_in_list>span {
        font-size: 1.2em;
        position: relative;
        top: 2px;
    }
    
    .article_rubric {
        color: #ddd;
    }
    
    .article_rubric a {
        color: #00a72a !important;
        text-shadow: 0 0 5px #00a72ab9;
        font-size: 1em;
        font-weight: 500;
    }
    
    @media (max-width: 992px) {
        .Article {
            margin: auto !important;
            margin-bottom: 20px !important;
        }
        .article_title {
            font-size: 2.7em;
        }
        .article_pub_date {
            font-size: 1.3em;
        }
        .article_rubric {
            font-size: 1.3em;
        }
    }
    
    @media screen and (min-width: 992px) {
        .Article {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
</style>

<p style='margin-bottom: -5px;' class='rub_name'>Рубрика - <span style='font-weight: 600;'>{{ current_rubric }}</span></p>
<hr class='by_rubric_hr'>
<section class='row'>
    {% if Articles %} {% for Article in Articles %}
    <article class="Article col-10 col-sm-11 col-md-11 col-lg-5 col-xl-3">
        <div clas='scale div_img pr-0 col-12'>
            <img src="{{ Article.image.url }}" class='article_img scale col-12'>
        </div>
        <div class='Article_content'>
            <h2 class='article_title'><a href='{% url "blog:detail" Article.id %}' class='article_title'>{{ Article.title }}</a></h2>
            <p class='article_pub_date'>
                {{ Article.published_date|date:"d.m.Y" }}
                <span class='likes_in_list'>
                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-heart svg_like" fill="#fdfdfd" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                    <span>{{ Article.likes }}</span>
                </span>
            </p>
            <p class='article_rubric'>Рубрика:
                <a href="#">{{ Article.rubric.name }}</a>
            </p>
        </div>
    </article>
    {% endfor %} {% else %}
    <h1 class='No_article_h1 display-1'>Статьи не найдены =(((</h1>
    {% endif %} {% endblock %}
</section>