{% extends "base.html" %}

{% block content %}

<style>
  .No_article_h1 {
    font-weight: 900;
    font-size: 4em;
    color: rgba(0, 255, 234, 0.733);
    text-align: center;
  }
  .by_rubric_hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>

  <p style='margin-bottom: -5px;'>Рубрика - <span style='font-weight: 600;'>{{ current_rubric }}</span></p>
  <hr class='by_rubric_hr'>
  <section class='row'>
  {% if Articles %}
    {% for Article in Articles %}
    <a href='{% url "blog:detail" Article.id %}'>
      <article class='Article col-10 col-sm-9 col-md-10 col-lg-5 col-xl-3'>
        <div clas='scale div_img pr-0'>
          <img src="{{ Article.image.url }}" alt="Картинка" class='article_img scale col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        </div>
        <h2 class='article_title'><a href='{% url "blog:detail" Article.id %}' class='article_title'>{{ Article.title }}</a></h2>
        <p class='article_pub_date'>{{ Article.published_date|date:"d.m.Y" }}</p>
        <p class='article_rubric'><a href="#">Рубрика: {{ Article.rubric.name }}</a></p>
      </article>
    </a>
    {% endfor %}
  {% else %}
    <h1 class='No_article_h1 display-1'>Статьи не найдены =(((</h1>
  {% endif %}
  </section>

{% endblock %}