{% extends "base.html" %} {% block title %} {{ Article.title }} {% endblock %} {% block content %}

<div class='detail_content'>
    <div class=''></div>
    <hr>
    <h1 class='Article_title col-12'>{{ Article.title }}</h1>
    <hr class='hr_title_bottom'> {% if Article.image %}
    <div class='detail_width_img col-12'>
        <img src="{{ Article.image.url }}" alt="Картинка" class='img_detail col-12 col-md-12 col-lg-10 col-xl-9'>
    </div>
    <script>
        function windowROW() {
            if (window.matchMedia('(min-width: 992px)').matches) {

            }
        }
        windowROW()
    </script>
    {% else %}
    <div style='max-width: 650px; ' class='detail_width_img'></div>
    {% endif %}
    <div class="pub_rub">
        <span class='p_rubric'>Рубрика - <a href="{% url 'blog:by_rubric' Article.rubric.id %}">{{ Article.rubric.name }}</a></span><br>
        <span class='detail_pub_date'>{{ Article.published_date }}</span>
    </div>

    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'blog:likes_detail' Article.id %}" id='detail_likes_form'>
        {% csrf_token %}
        <strong class='likes_detail'>{{ Article.likes }}</strong>
        <button class='a_like_on like_d' type="submit" id='likes_detail_button_submit'>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-heart svg_like" fill="#ddd" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
      </button>
    </form>
    {% else %}
    <strong class='likes_detail'>{{ Article.likes }}</strong>
    <span href="#" class='a_like_on like_d like_no_auth' id='like_no_auth' onclick='not_auth_like()'>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-heart svg_like" fill="#ddd" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
    </span>
    <script>
        function not_auth_like() {
            let a = confirm('Войдите что лайкать!');
            if (a == true) {
                document.location.href = "http://tsoktest69.pythonanywhere.com/accounts/login/?next=/";
            }
        }
    </script>
    {% endif %}

    <p class='Article_text'>{{ Article.text }}</p> {% if user.is_authenticated %}
    <form action="{% url 'blog:list_comment' Article.id %}" method="POST">
        {% csrf_token %}

        <textarea name='text_comment' placeholder="Ваш комментарий" required cols='40' rows='3' style='width: 100%;'></textarea><br>
        <button class='comment_gend' type="submit">Отправить</button>
    </form><br> {% else %}
    <h2 class='please_login'>
        <a href="{% url 'login'%}?next={{request.path}}" class='please_login'>Войдите чтобы оставлять комменты</a>
    </h2><br> {% endif %}

    <h2 class='Commentarii'>Комметарии:</h2>
    <hr>
    <div class='col-12 comments'>
        {% if Comments %} {% for Comment in Comments %} {% if user.is_authenticated %}
        <div class='comment'>
            <strong class='author_comment' style='font-weight: 800;'>{{ Comment.author }}</strong>
            <p class='comment_text' style='font-weight: 500;'>{{ Comment.comment_text }}</p>
        </div>
        {% else %}
        <div class='comment'>
            <strong class='author_comment' style='font-weight: 800;'>{{ Comment.author }}</strong>
            <p class='comment_text' style='font-weight: 500;'>{{ Comment.comment_text }}</p>
        </div>
        {% endif %} {% endfor %} {% else %} <span class='No_comm'>Комментов нет =(</span> {% endif %}
    </div>
    <hr class='detail-bottom-hr'>

</div>
</div>

<style>
    .p_rubric {
        color: #ddd;
        font-size: 1.2em;
    }
    
    @keyframes shadow_a {
        20% {
            text-shadow: 0 0 4px rgba(6, 190, 0, 0.6);
        }
        40% {
            text-shadow: 0 0 4px rgba(6, 177, 0, 0.6);
        }
        50% {
            text-shadow: 0 0 8px rgba(6, 194, 0, 0.6);
        }
        60% {
            text-shadow: 0 0 4px rgba(6, 185, 0, 0.6);
        }
        80% {
            text-shadow: 0 0 4px rgba(7, 202, 0, 0.6);
        }
    }
    
    .p_rubric a {
        color: rgb(6, 190, 0);
        animation: shadow_a 6s infinite;
        text-shadow: 0 0 5px rgba(6, 190, 0, 0.6);
    }
    
    .detail_pub_date {
        color: #ccc;
        font-size: .9em;
    }
    
    .img_detail {
        /*background-blend-mode: overlay;*/
        margin: auto !important;
    }
    
    .detail_width_img img {
        margin: auto !important;
    }
    
    .Article_title {
        color: #ddd;
        font-size: 3.6em;
        font-weight: 600;
    }
    
    #detail_likes_form {
        display: flex;
    }
    
    #likes_detail_button_submit {
        background: none;
        border: none;
    }
    
    .like_no_auth {
        background: none;
        border: none;
        position: relative;
        bottom: 8px;
    }
    
    .svg_like {
        background: none;
    }
    
    .likes_detail {
        color: #ddd;
        font-size: 2.4em;
    }
    
    .Article_text {
        color: #ddd;
        background: rgb(10, 10, 10);
        font-size: 2.1em;
        border-top: 4px solid #000;
        border-bottom: 4px solid #000;
        padding: 0 5px;
    }
    
    textarea[name='text_comment'] {
        font-size: 1.8em;
        background: rgb(30, 30, 30);
        border: 0;
        box-shadow: inset 0px 0px 6px 2px #111;
        color: #ddd;
        font-weight: 300;
    }
    
    textarea[name='text_comment']:focus {
        outline: none;
    }
    
    .please_login {
        font-weight: 700;
        font-size: 1.6em;
        color: rgb(145, 255, 0);
        animation: shadow_a 6s infinite;
        text-shadow: 0 0 5px rgba(145, 255, 0, 0.6);
        text-decoration: underline;
    }
    
    .please_login:hover {
        color: rgb(100, 177, 0);
    }
    
    .comment_gend {
        font-size: 1.4em;
        background: rgb(30, 30, 30);
        border: 0;
        box-shadow: inset 0px 0px 6px 2px #111;
        color: #ddd;
        font-weight: 600;
        width: 100%;
        transition: .5s;
        padding: 10px;
    }
    
    .comment_gend:hover {
        box-shadow: inset 0px 0px 6px 4px #111;
    }
    
    .Commentarii {
        font-size: 2.2em;
        font-weight: 600;
        color: #ddd;
    }
    
    .comment {
        margin: 0 5px;
    }
    
    .author_comment {
        color: #ddd;
        font-size: 1.6em;
    }
    
    .comment_text {
        color: #ddd;
    }
    
    .No_comm {
        font-size: 1.3em;
        color: #ccc;
    }
    
    footer {
        position: relative !important;
    }
    
    @media (min-width: 768px) {}
    
    @media (min-width: 992px) {}
</style>

<!--style>
    .hr_title_bottom {
        margin-bottom: 10px;
    }
    
    .p_rubric {
        font-size: 1.3em !important;
        font-weight: 600;
    }
    
    .Article_text {
        font-size: 1.5em;
        font-weight: 600;
    }
    
    .Article_title {
        font-weight: 700;
        color: #000;
        font-size: 3em;
    }
    
    .detail_width_img {
        margin: auto;
    }
    
    #detail_likes_form {
        margin-top: 5px;
    }
    
    .likes_detail {
        font-size: 3.5em;
        font-weight: 500;
        margin-right: 5px;
    }
    
    .like_d {
        position: relative;
        border: none;
        background: none;
        bottom: 14px;
    }
    
    .like_d:hover {
        animation: 1s like;
    }
    
    @keyframes like {
        33% {
            transform: rotate(-15deg);
        }
        66% {
            transform: rotate(25deg);
        }
        99% {
            transform: rotate(0deg);
        }
    }
    
    .detail_pub_date {
        font-size: 1.1em;
        color: #222;
        padding-top: 5px;
        margin-bottom: -2px;
    }
    
    .detail-bottom-hr {
        margin-bottom: 20px;
    }
    
    textarea[name=text_comment]::placeholder {
        font-size: 1.2em;
        font-weight: 500;
    }
    
    textarea[name=text_comment] {
        border: 2px solid rgb(85, 85, 85);
        border-radius: 2px;
        font-size: 1.2em;
    }
    
    .please_login>a {
        font-size: 1.2em;
    }
    
    .please_login {
        margin-bottom: 10px;
    }
    
    .comments {
        max-height: 500px;
        overflow: scroll;
        overflow-x: none;
    }
    
    .comment {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom-width: 1px;
        border-bottom-style: ridge;
        padding: 5px;
    }
    
    .comment:hover {
        padding-left: 3px;
        padding-right: 3px;
        width: 100%;
    }
    
    .comment:nth-of-type(2n) {
        background: #fdfdfd;
    }
    
    .comment:nth-of-type(3n) {
        background: #f9f9f9;
    }
    
    .comment:nth-of-type(1) {
        background: #f9f9f9;
    }
    
    .comment:nth-of-type(2n):hover {
        background: #dadada;
    }
    
    .comment:nth-of-type(3n):hover {
        background: #dfdfdf;
    }
    
    .comment:nth-of-type(1):hover {
        background: #dfdfdf;
    }
    
    .comment_gend {
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 700;
        font-size: 1.25em;
        border: 2px solid rgba(172, 172, 172, 0.75);
        border-radius: 5px;
        color: rgb(65, 65, 65);
        background-color: rgba(200, 200, 200, 0.75);
    }
</style-->
{% endblock %}